<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Inregistrare Pacient</title>
<style type="text/css">
    label {
        display: inline-block;
        width: 200px;
        margin: 5px;
        text-align: left;
    }
    input[type=text], input[type=password], select {
        display: inline-block;
        width: 200px;
    }
    input[type=radio] {
        margin-left: 45px;
    }

    button {
        padding: 5px;
        margin: 10px;
    }
</style>
</head>
<body>
<div align="center">
    <h1>Inregistrare Pacient</h1>
    <form action="#" th:action="@{/profilpacient}" method="post" th:object="${pacient}">
        <label>Nume:</label>
        <input type="text" th:field="*{nume}" /><br/>
        
        <label>Prenume:</label>
        <input type="text" th:field="*{prenume}" /><br/>
        
        <label>Telefon:</label>
        <input type="text" th:field="*{telefon}" /><br/>

        <label>E-mail:</label>
        <input type="text" th:field="*{email}" /><br/>
        
        <label>Varsta:</label>
        <input type="text" th:field="*{varsta}" /><br/>
 
        <label>Sex:</label>
        <input type="radio" th:field="*{sex}" value="M" />M
        <input type="radio" th:field="*{sex}" value="F" />F<br/>
 		
 		<label>Adresa:</label>
        <input type="text" th:field="*{adresa}" /><br/>
        
        <label>Observatii:</label>
        <textarea rows="5" cols="25" th:field="*{observatii}"></textarea>
        <br/>
 
        <button type="submit">Submit</button>    
    </form>
</div>
</body>
</html>