<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Cabinet Management System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

</head>
<body>
	<div class="container my-2">
		<h1>Lista Pacienti</h1>

		<a th:href="@{/inregistrarepacient}"
			class="btn btn-primary btn-sm mb-3"> Adauga Pacient </a>

		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>ID:</th>
					<th>Nume:</th>
					<th>Prenume:</th>
					<th>Telefon:</th>
					<th>Email:</th>
					<th>Varsta:</th>
					<th>Sex:</th>
					<th>Adresa:</th>
					<th>Observatii:</th>
					<th>Actiuni</th>


				</tr>
			</thead>
			<tbody>
				<tr th:each="pacient : ${listaPacienti}">
					<td th:text="${pacient.id}"></td>
					<td th:text="${pacient.nume}"></td>
					<td th:text="${pacient.prenume}"></td>
					<td th:text="${pacient.telefon}"></td>
					<td th:text="${pacient.email}"></td>
					<td th:text="${pacient.varsta}"></td>
					<td th:text="${pacient.sex}"></td>
					<td th:text="${pacient.adresa}"></td>
					<td th:text="${pacient.observatii}"></td>
					<td><a th:href="@{/arataprofilpacient/{id}(id=${pacient.id})}"
						class="btn btn-primary">Modifica</a> 
					    <a th:href="@{/stergePacient/{id}(id=${pacient.id})}"
						class="btn btn-danger">Sterge</a>
						<a th:href="@{/inregistrarefisapacient}"
						class="btn btn-primary">Fisa Pacient </a> 
						<a th:href="@{/arataprofilfisapacient/{id}(id=${pacient.id})}"
						class="btn btn-primary">Modifica Fisa</a> 
						<a th:href="@{/stergeFisaPacient/{id}(id=${pacient.id})}"
						class="btn btn-danger">Sterge Fisa</a>
						</td>

				</tr>
			</tbody>
		</table>
		<hr>

		<a th:href="@{/}"> Inapoi la pagina de inceput</a>
	</div>
</body>
</html>